@import "tailwindcss";

@theme {
  --color-riverton-purple: #582C83;
  --color-riverton-black: #121212;
  --color-riverton-silver: #A5A9B4;
}

@variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-white dark:bg-riverton-black text-gray-900 dark:text-white transition-colors duration-300;
}

#root {
  width: 100%;
}
